*, html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--container-background);
}

:root{
    --nav-primary: #1A2238;
    --navcont-primary: #eaeaea;
    --navcont-trans: aquamarine; 
    --btn-background: crimson;
    --btn-trans: darkorange;
    --container-background: #e0e2dc;
}

/* start style header and footer */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-primary); /* dark blue color*/
    color: var(--navcont-primary);
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

nav ul :hover {
    background-color: var(--navcont-trans);
    color: var(--nav-primary);
    cursor: pointer;
    transition: .5s ease-in-out;
}

li{
    padding: 5px;
    margin-left: 20px;
}

.li{
    color: var(--navcont-primary);
    text-decoration: none;
}

.navbtn{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

.title{
    display: flex;
    padding: 10px;
}

.logo{
    width: 50px;
    height: 50px;

}

.logo:hover{
    transform: rotate(10deg);
    transition: .5s ease-in-out;
}

.txttitle{
    padding: 5px;
    color: var(--navcont-primary);
}

.txttitle:hover{
    color: var(--btn-background);
    transition: color .5s ease-in-out;
}

.follow{
    text-decoration: none;
    color: var(--navcont-primary);
    padding: 8px 12px;
}

 button{
    background-color: var(--btn-background);
    border: none;
    border-radius: 8px;
 }

 button:hover{
    background-color: var(--btn-trans);
    cursor: pointer;
    transition: background-color .5s ease-in-out;
 }

 footer{
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    background-color: var(--nav-primary); /* dark blue color*/
    color: var(--navcont-primary);
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
 }
 
 .par-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
 }

 .par-footer:hover{
    color: var(--btn-background);
    transition: color .5s ease-in-out;
 }

 .mail{
    margin-left: 0px;
    text-decoration: none;
    color: var(--navcont-primary);
 }
 .mail:hover{
    cursor: pointer;
    color: var(--btn-background);
    transition: color .5s ease-in-out;
 }
/* end style header and footer */

.container{
    max-width: 1200px;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.home-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-photo{
    max-width: 40vw;
    max-height: 50vh;
    margin:20px;
}

.subtitle{
    text-align: center;
}
.motto{
    font-size:large;
    font-weight: bold;
    text-align: center;
}

.home-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
 }
 
 .home-p-desc{
    text-align: justify;
    text-indent: 25px;
 }

 .parallax{
    background-image: url('./assets/images/photos/background-home.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
 }

 .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-primary);
 }
 
 .contact{
    margin-top: 15px;
    padding: 8px 10px;
 }

 .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
 }

 .card-item{
    background-color: var(--container-background);
    padding: 5px;
    max-width: 300px;
    min-height: 110px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px var(--btn-background);
 }

 table{
    margin: 25px;
    border-spacing: 30px;
    text-align: left;
 }

.list-title{
    margin: 10px 0px;
}

 @media screen and (max-width: 800px){
    .container{
        margin-top: 200px;
    }

    .btn-cta{
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px 10px;
    }
 }
 


 @media screen and (max-width: 620px){
    
    .card-item{
        font-size: 0.7em;
        min-height: 75px;
    }
 }

 @media screen and (max-width: 400px){
    .container{
        margin-top: 250px;
    }
 }
 @media screen and (max-width: 300px){
    .container{
        margin-top: 350px;
    }
 }

 @media screen and (max-width: 200px){
    .container{
        margin-top: 450px;
    }
    .parallax{
        height: 125vh;
    }
 }